.card-Customstyle{

}
.formStyle{

    margin-top: 100px;
    margin-left: 350px;
    margin-bottom:100px;
    
}
.mat-card{
    background:#04c2347e;
}
.mat-raised-button{
    margin-left: 107px !important;
    opacity: 1 !important;
    background: #c3d806b0;
    color:black;

}



success-snackbar{
    background: green !important;
}